.home-grid-col.hgc-2 {
    flex-basis: 39.66%;
    flex-grow: 0;
}

.home-grid-col.hgc-1 {
    flex-basis: 63.33%;
    flex-grow: 0;  
}

.home-grid-post {
    margin: 0 0 25px;
}

.home-grid-post img {
    display: block;
    margin: 0 auto;
}

.wp-block-dwb-home-grid-block .more-articles {
    width: 100%;
    text-align: center;
}
    
.wp-block-dwb-home-grid-block .more-articles a {
    background-color: #eee;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;     
}